# Using container-based infrastructure
# sudo: false
# enable trusty beta
sudo: required
dist: trusty

# 'bash' will define a generic environment without interfering environment
# settings like "CC=gcc"
language: bash

# Only build the master branch
branches:
    only:
        - ss-only

# Caching the downloaded src packages between several builds to save travis-ci
# download time and bandwidth
cache:
    directories:
        - $HOME/src
        - $HOME/x-tools
        - $HOME/.config/dbxcli
        # - $HOME/zlib-install
        # - $HOME/openssl-install
        # - $HOME/pcre-install
        # - $HOME/libsodium-install
        # - $HOME/mbedtls-install
        # - $HOME/libev-install


# Installing needed dependencies
addons:
    apt:
        packages:
            - bison
            - flex
            - gperf
            - libncurses5-dev
            - texinfo
            - help2man
            - asciidoc
            - xmlto
            # - libpcre3
            # - libpcre3-dev
            # - openssl
            # - zlib
            
# Handle git submodules yourself
git:
    submodules: false
    
# Use sed to replace the SSH URL with the public URL, then initialize submodules
before_install:
    # - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
    # - git submodule update --init --recursive
    # - sudo apt-get update -qq
    # - sudo apt-get install libpcre3 libpcre3-dev -y
    
# Building crosstool-NG core
# keep these on at all times because it is fast
# install:
#     - cd crosstool-ng
#     # - git checkout tomato
#     - git checkout tags/crosstool-ng-1.21.0
#     - cp $TRAVIS_BUILD_DIR/ctng.config ./.config -f
#     - ./bootstrap
#     - ./configure --enable-local
#     - make
#     - make install

# Here is the list of all the standard samples tracked
# by the continuous integration system
env:
    # - CT_SAMPLE=mipsel-unknown-linux-gnu
    matrix:
        # - export PATH=$HOME/x-tools/mipsel-unknown-linux-uclibc/bin:$PATH
        # - SS_VER=latest
        # - SS_VER=v3.2.0
        - SS_VER=v3.1.3
        - SS_VER=v3.1.2
        # - SS_VER=v3.1.1
        # - SS_VER=v3.1.0
        # - SS_VER=v3.0.8
        # - SS_VER=v3.0.7
        # - SS_VER=v3.0.6
        # - SS_VER=v3.0.5
        # - SS_VER=v3.0.4
        # - SS_VER=v3.0.3
        # - SS_VER=v3.0.2
        # - SS_VER=v3.0.1
        # - SS_VER=v3.0.0
        # - SS_VER=v2.6.3
        # - SS_VER=v2.6.2
        # - SS_VER=v2.6.1
        # - SS_VER=v2.6.0
        # - SS_VER=v2.5.6
        # - SS_VER=v2.5.5
        # - SS_VER=v2.5.4
        # - SS_VER=v2.5.3
        # - SS_VER=v2.5.2
        # - SS_VER=v2.5.1
        # - SS_VER=v2.5.0
        # - SS_VER=v2.4.8
        # - SS_VER=v2.4.7
        # - SS_VER=v2.4.6
        # - SS_VER=v2.4.5
        # - SS_VER=v2.4.4
        # - SS_VER=v2.4.3
        # - SS_VER=v2.4.2
        # - SS_VER=v2.4.1
        # - SS_VER=v2.4.0
        # - SS_VER=v2.3.3
        # - SS_VER=v2.3.2
        # - SS_VER=v2.3.1
        # - SS_VER=v2.3.0
        # - SS_VER=v2.2.3
        # - SS_VER=v2.2.2
        # - SS_VER=v2.2.1
        # - SS_VER=v2.2.0
        # - SS_VER=v2.1.4
        # - SS_VER=v2.1.3
        # - SS_VER=v2.1.2
        # - SS_VER=v2.1.1
        # - SS_VER=v2.1.0
        # - SS_VER=v2.0.8
        # - SS_VER=v2.0.7
        # - SS_VER=v2.0.6
        # - SS_VER=v2.0.5
        # - SS_VER=v2.0.4
        # - SS_VER=v2.0.3
        # - SS_VER=v2.0.2
        # - SS_VER=v2.0.1
        # - SS_VER=v1.6.4
        # - SS_VER=v1.6.3
        # - SS_VER=v1.6.2
        # - SS_VER=v1.6.1
        # - SS_VER=v1.5.3
        # - SS_VER=v1.5.2
        # - SS_VER=v1.5.1
        # - SS_VER=v1.5.0

        # the following version errored out so i disabled them
        # - SS_VER=v1.4.8
        # - SS_VER=v1.4.7
        # - SS_VER=v1.4.6
        # - SS_VER=v1.4.5
        # - SS_VER=v1.4.4
        # - SS_VER=v1.4.3
        # - SS_VER=v1.4.2
        # - SS_VER=v1.4.1
        # - SS_VER=v1.4.0
        # - SS_VER=v1.3.2
        # - SS_VER=v1.3
    global:
        - secure: mX4MAMYgF1T5Xhqf4JOktQLyZLlZR0JXxlBYJeTKt0uK6KYmqHrLlqVvyZv3fjLa7KhukqwVPNqI24uh5GgzGqa2VA2YKa3m6zF7+dj7h8l1cnQN0sQMhPpFI1b+FsocQcgnKIho5hDVdyGk7zlRWkrCBcjNMcrOISyfmazZejRduTuwAHqPReqlBguMQLxOcQfCWhfEYBEvaVPwZRP4EnrkrBL/RxsN28Wxy/V9/oaeAorAyIIGA+bSTeoQtUAg/EGKujFB3b4BikyigDgT+Fp6ZuG1IyDsjPWJzRSBXAyYLfxwS8JRbIxLc/2WctHm5yvrygbGIyr96CXewd7gf6kuQmFF8QWBY3ISMwIESv48VpD4Ho8Co6IPCYlTpz+6N9MDC0Bvs+ZJY76iIPDgGU8ZCrYg8CrWLQUtBL4WyMd1JOlL+QMFUrPer6ceoC1PkrOGwPSLK9q96L58T3/vlv5rVRtHq1q9J1OfK8EjNgpO2/HTHuLtSSQrgGLn9TUW4OODRXco0tSD1P6BE7hsiJewcIBBN13Ok4C/hlleQUFp2xey4mRkw5RXD4iUahB19Z5q8oMPK0D9BmBcZzBhMCkZN8rMiMeUg2tT2II+M8qCYpG5Nd41AoEbX++iu2XHdER1HIPszlisfXN66zfDurxpzzFAU79zoXLduMHKXeg=

        # - secure: l/V9y87A1WE4FjqAa8tJw3NQ+Irddr6okeMIhoTBp73gIuEow4xUwQw5AkoxIcpNiTb8Z3IwOOvCNh3UuVtP74dxzpbq9UCai5uR1jU4x+wytOXkmUOUfWIr7hfTQuPAr6VvKdElzDqBqWrs6iRgsE78CKCuHZFCMs9iNYw+yrr9OudvB9DFeiEeE3OZzIi8a/zUc7T8P4F/rBI9M7siEBImn+jJ5CGE5ddG20pYhMnzqh+THXaZ6DmtvS75zo+aU3tXocmzRntHtemH/l/lX29612GUNupC6e1vvbtNGUyPVfX2oOQ9wV6fr4pHWglULR9OQdgjHBspYFsDQxCFgPTP6VjRhMDAKXTpDY9rbgZMo2RBTBDtwvXKV3dPuy4s+EKo9ez3ekBs2nuKsOC+kgRCXTaWxkddW76kzFkwOJt8qoHt0gfWU6A5H80fkPhPOxsid18WWHS21BuK6oLt9XW3wWqNxAFPpi8F1Wri0DgcwyHPGxvzPYg+Jb4xWGNhSnF+K6vjRrWnLtI8ysWnfzjgm7fQlGpHNTGQDOXbHmxLgRCgG2Nkae3z2wsGt83r+BCTiSynPOQxTGNm6bZEOLsd/xNtVNEc2nnqlbHDmSOx7JlGBGS7uXUASf5LT/7mSnBoiV0ExwzvsAqLRD+/H3mSeOkoV07Z1YOHvDsBdl0=

# Building the standard samples
script:
    # - . ls -l $HOME
    - . $TRAVIS_BUILD_DIR/.travis.sh      # Load the travis environment
    #- ct-ng $CT_SAMPLE    # Configure the build
    #- echo ============================
    # - apt-cache search pcre
    # - ct-ng_travis_build  # Build the sample
    # - pcre_build
    #- zlib_build
    #- openssl_build
    # - upload_test # upload test
    - download_toolchain
    - ss_build

# On failure displaying the last lines of the log file
after_failure:
    # - tail -n 1000 $TRAVIS_BUILD_DIR/config/build.log
    - tail -n 1000 $HOME/pcre-8.40/config.log

after_success: . $TRAVIS_BUILD_DIR/update-gh-pages.sh